body{
    background: black;
    font-size: 90px;
    font-weight: 600;
    font-family: system-ui;
}
td{
    background: yellow;
    text-align: center;
    width: 130px;
    height: 10px;
    cursor: pointer;
}

.window
{
    height: 150px;
    width: 540px;
    background: white;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

.tdd:hover
{
   background: rgb(128, 116, 231);
}